<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Planche LFFL</title>
    </head>
    <body>
        <h1>Planche LFFL du {{data.day}}/{{data.month}}/{{data.year}}</h1>
        <form action="http://localhost:5000/newLine" method="post">
            <input type="submit" value="Ajouter un vol">
        </form>
        <table>
        {% for line in data.sqlData %}
        <tr>
            {% for value in line %}
            <td>{{value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    </body>
</html>
