<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Planche LFFL</title>
    </head>
    <body>
        <form action="http://localhost:5000/saveLine" method="post">
            <input type="text" name="cn" placeholder="Numero de concours" />
            <input type="text" name="immat" placeholder="Immatriculation" />
            <input type="text" name="pilot" placeholder="Nom du pilote" />
            <input type="text" name="copilot" placeholder="Nom du copilote" />
            <input type="text" name="takeofftime" placeholder="Décollage" />
            <input type="text" name="landingtime" placeholder="Atterrissage" />
            <input type="text" name="addinfo" placeholder="Informations" />
            <input type="submit" value="Enregistrer" />
        </form>
    </body>
</html>
