<!doctype html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <meta charset="utf-8">
        <title>Planche LFFL</title>
    </head>
    <body>
        <h1 style="text-align:center">Planche LFFL du {{data.day}}/{{data.month}}/{{data.year}}</h1>
        <form action="http://localhost:5000/newLine" method="post">
            <input type="hidden" name="action" value="new">
            <input type="submit" value="Ajouter un vol">
        </form>
        <table>
            <thead>
                <tr>
                    <th>CN</th>
                    <th>Immat</th>
                    <th>Pilote</th>
                    <th>Copilote</th>
                    <th>Décollage</th>
                    <th>Atterrissage</th>
                    <th>Remorqueur</th>
                    <th>Infos</th>
                </tr>
            </thead>
            {% for line in data.sqlData %}
            <tr>
                {% for value in line[1:] %}
                <td>{{value}}</td>
                {% endfor %}
                <td>
                <form action="http://localhost:5000/newLine" method="post">
                    <input type="hidden" name="action" value="mod">
                    <input type="hidden" name="id" value="{{line[0]}}">
                    <input type="submit" value="Modifier" style="font-size:100%">
                </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
