<!doctype html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/newLine.css') }}">
        <meta charset="utf-8">
        <title>Planche LFFL</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script src="static/js/file.js"></script>
    </head>
    <body>
        <table>
            <form action="http://localhost:5000/saveLine" method="post">
                <input type="hidden" name="action" value="{{data.info}}"/>
                <input type="hidden" name="id" value="{{data.id}}"/>
                <tr>
                    <td> <input type="text" name="cn" placeholder="Numero de concours" value="{{data.lineData[1]}}"/> </td>
                    <td> <input type="text" name="immat" placeholder="Immatriculation" value="{{data.lineData[2]}}" required="required"/> </td>
                </tr>
                <tr>
                    <td> <input type="text" name="pilot" placeholder="Nom du pilote" value="{{data.lineData[3]}}" required="required"/> </td>
                    <td> <input type="text" name="copilot" placeholder="Nom du copilote" value="{{data.lineData[4]}}"/> </td>
                </tr>
                <tr>
                    <td> <input type="text" id="idtakeofftime" name="takeofftime" placeholder="Décollage" value="{{data.lineData[5]}}"/> </td>
                    <td> <button id="settakeofftime" type="button" style="background-color:#C0DFEF"/> Heure actuelle </button> </td>
                </tr>
                <tr>
                    <td> <input type="text" id="idlandingtime" name="landingtime" placeholder="Atterrissage" value="{{data.lineData[6]}}"/> </td>
                    <td> <button id="setlandingtime" type="button" style="background-color:#C0DFEF"> Heure actuelle </button> </td>
                </tr>
                <tr>
                    <td> <input type="text" name="plane" placeholder="Remorqueur" value="{{data.lineData[7]}}" required="required"/> </td>
                    <td> <input type="text" name="addinfo" placeholder="Informations" value="{{data.lineData[8]}}"/> </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://localhost:5000/">
                            <button type="button" style="background-color:#A98307">Annuler</button>
                        </a>
                    </td>
                    <td> <input type="submit" value="Enregistrer" style="background-color:#78866B"/> </td>
                </tr>
            </form>
            {% if data.info == "mod" %}
            <form action="http://localhost:5000/supprLine" id="formSuppr" method="post">
                <tr>
                    <input type="hidden" name="id" value="{{data.id}}"/>
                    <td colspan="2"> <button type="button" id="supprButton" style="background-color:#D36E70"/>Supprimer</td>
                </tr>
            </form>
            {% endif %}
        </table>
    </body>
</html>
